body {
    background-color: aqua !important;
    min-height: 100vh;

}

.container {
    background-color: aqua !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 50px);

}

.card-img-top{
    height: 200px;

}

.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    padding-top: 12px;

}