body {
    background-color: turquoise !important;
    min-height: 100vh;
}

.container {
    height: 94vh;
    background-color: turquoise !important;
    display: flex;
    justify-content: center;
    align-items: center;


}

.question-footer {
    margin-top: 12px;
    padding-top: 8px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: black;

}

.bg-success, .bg-danger {
    color: white;
    cursor: pointer;

}